# Computing with Base-n Numbers

In [1]:
import pandas as pd
data = {
" CustomerID" : [1, 2, 3] ,
"Country" : ["USA"
, "India", "Canada"],
" State" : [" Georgia", "Karnataka" ,"Ontario"],
" City" : ["Atlanta","Bangalore"," Toronto"],
" Zip - Code" : ["30332" , "560001" , "M4B- 1B3" ]
}
df = pd. DataFrame(data)
print(df)

    CustomerID Country      State       City  Zip - Code
0            1     USA    Georgia    Atlanta       30332
1            2   India  Karnataka  Bangalore      560001
2            3  Canada    Ontario    Toronto    M4B- 1B3

In [2]:
import time
number = 1000000
start = time.time()
list = [None]*number
for i in range(number):
    list[i] = i
print(time.time() - start)

0.05968904495239258

In [1]:
import time
number = 1000000
structure = time.time()
list = []
for i in range(number):
    list.append(i)
print(time.time() - structure)

0.047866106033325195

## list of List

In [3]:
def Complex_func(list):
    count = 0
    for i in range(6):
        count += 1
        print(count)
    for j in list:
        count += 1
        print(count)
    for k in list:
        count += 1
        print(count)
Complex_func([1,2,3,4])

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [9]:
Codedmessage = 'nzohfu gur rarzl nz avtug'
for counter in range(26):
    guessmessage = ''
    for x in Codedmessage:
        if x != ' ':
            if ord(x) + counter <= 122:
                x = chr(ord(x) + counter)
            else:
                x = chr(ord(x) + counter - 26)
        guessmessage += x
    print(counter, guessmessage)

0 nzohfu gur rarzl nz avtug
1 oapigv hvs sbsam oa bwuvh
2 pbqjhw iwt tctbn pb cxvwi
3 qcrkix jxu uduco qc dywxj
4 rdsljy kyv vevdp rd ezxyk
5 setmkz lzw wfweq se fayzl
6 tfunla max xgxfr tf gbzam
7 ugvomb nby yhygs ug hcabn
8 vhwpnc ocz zizht vh idbco
9 wixqod pda ajaiu wi jecdp
10 xjyrpe qeb bkbjv xj kfdeq
11 ykzsqf rfc clckw yk lgefr
12 zlatrg sgd dmdlx zl mhfgs
13 ambush the enemy am night
14 bncvti uif fofnz bn ojhiu
15 codwuj vjg gpgoa co pkijv
16 dpexvk wkh hqhpb dp qljkw
17 eqfywl xli iriqc eq rmklx
18 frgzxm ymj jsjrd fr snlmy
19 gshayn znk ktkse gs tomnz
20 htibzo aol lultf ht upnoa
21 iujcap bpm mvmug iu vqopb
22 jvkdbq cqn nwnvh jv wrpqc
23 kwlecr dro oxowi kw xsqrd
24 lxmfds esp pypxj lx ytrse
25 mynget ftq qzqyk my zustf

In [2]:
import pandas as pd
data =[[1,"USA","Georgia","Atlanta","30332"],
[2,"India","Karnataka","Bangalore","560001"],
[3,"Canada","Ontario","Toronto","M4B- 1B3"]]
df2 = pd.DataFrame(data, columns=["CustomerID","Country","State","City","Zip - Code"])
print(df2)

   CustomerID Country      State       City Zip - Code
0           1     USA    Georgia    Atlanta      30332
1           2   India  Karnataka  Bangalore     560001
2           3  Canada    Ontario    Toronto   M4B- 1B3

In [3]:
import itertools
print(itertools.product([0,1],[0,1]))

<itertools.product object at 0x117d6a440>

In [3]:
import pandas as pd
data = {
	"CustomerID": [1, 2, 3],
	"Country": ["USA", "India", "Canada"],
	"State": ["Georgia", "Karnataka", "Ontario"],
	"City": ["Atlanta", "Bangalore", "Toronto"],
	"Zip# Code": ["30332", "560001", "M4B# 1B3"]
}
df = pd.DataFrame(data)
print(df)

   CustomerID Country      State       City Zip# Code
0           1     USA    Georgia    Atlanta     30332
1           2   India  Karnataka  Bangalore    560001
2           3  Canada    Ontario    Toronto  M4B# 1B3

`What will be the the output?`<br>

<itertools.product object at 0x117d6a440><br>
It's show hexa- decimal (integer) value,that is basically address of this method.<br>

In [2]:
import uuid
print(hex(uuid.getnode()))

0x9287003f2f7a

In [10]:
x = 100011001111
print(hex(x))

0x17491ec517

In [6]:
x = int("100011001111",2)
print(x)

2255