In [1]:
import pandas as pd
import numpy as np
pf = pd.read_csv('/Users/swagatsouravdhar/SEMISTER2/PYTHON/YOUTUBE/customer_anazylses-data.txt', sep='\t')
pf.head()

  CustomerID  Country  State       City      Zip Code
0   1           USA      Georgia     Atlanta   30332
1   2           USA      Georgia     Atlanta   30331
2   3           USA      Florida     Melbourne 30912
3   4           USA      Florida     Tampa     30123
4  5           India    Karnataka   Bangalore 560001

In [2]:
print(pf)

  CustomerID  Country  State       City      Zip Code
0   1           USA      Georgia     Atlanta   30332
1   2           USA      Georgia     Atlanta   30331
2   3           USA      Florida     Melbourne 30912
3   4           USA      Florida     Tampa     30123
4  5           India    Karnataka   Bangalore 560001
5  6           India    Maharashtra Mumbai    578234
6  7           India    Karnataka   Hubli     569823
7  8           India    Maharashtra Mumbai    578234
8   9           Germany  Bavaria     Munich    80331
9  10          Canada   Ontario     Toronto   M4B...

In [3]:
pf.describe()

       CustomerID  Country  State       City      Zip Code
count                                                  10
unique                                                 10
top      1           USA      Georgia     Atlanta   30332
freq                                                    1

In [4]:
pf['CustomerID  Country  State       City      Zip Code'].value_counts()

CustomerID  Country  State       City      Zip Code
1           USA      Georgia     Atlanta   30332      1
2           USA      Georgia     Atlanta   30331      1
3           USA      Florida     Melbourne 30912      1
4           USA      Florida     Tampa     30123      1
5           India    Karnataka   Bangalore 560001     1
6           India    Maharashtra Mumbai    578234     1
7           India    Karnataka   Hubli     569823     1
8           India    Maharashtra Mumbai    578234     1
9           Germany  Bavaria     Munich    80331      1
10          Canada   Ontario     Toronto   M4B 1B3    1
Name: count, dtype: int64

In [5]:
pf.dropna()

  CustomerID  Country  State       City      Zip Code
0   1           USA      Georgia     Atlanta   30332
1   2           USA      Georgia     Atlanta   30331
2   3           USA      Florida     Melbourne 30912
3   4           USA      Florida     Tampa     30123
4  5           India    Karnataka   Bangalore 560001
5  6           India    Maharashtra Mumbai    578234
6  7           India    Karnataka   Hubli     569823
7  8           India    Maharashtra Mumbai    578234
8   9           Germany  Bavaria     Munich    80331
9  10          Canada   Ontario     Toronto   M4B...

In [6]:
pf['2x2'] = pf['CustomerID  Country  State       City      Zip Code'].apply(lambda x: x*2)
print(pf)

  CustomerID  Country  State       City      Zip Code  \
0   1           USA      Georgia     Atlanta   30332
1   2           USA      Georgia     Atlanta   30331
2   3           USA      Florida     Melbourne 30912
3   4           USA      Florida     Tampa     30123
4  5           India    Karnataka   Bangalore 560001
5  6           India    Maharashtra Mumbai    578234
6  7           India    Karnataka   Hubli     569823
7  8           India    Maharashtra Mumbai    578234
8   9           Germany  Bavaria     Munich    80331
9  10          Canada   Ontario     Toronto   M4B...

                                                 2x2
0  1           USA      Georgia     Atlanta   303...
1  2           USA      Georgia     Atlanta   303...
2  3           USA      Florida     Melbourne 309...
3  4           USA      Florida     Tampa     301...
4  5           India    Karnataka   Bangalore 560...
5  6           India    Maharashtra Mumbai    578...
6  7           India    Karnataka   Hubli     569...
7  8           India    Maharashtra Mumbai    578...
8  9           Germany  Bavaria     Munich    803...
9  10          Canada   Ontario     Toronto   M4B...

In [7]:
pf

,CustomerID Country State City Zip Code,2x2
0,1 USA Georgia Atlanta 30332,1 USA Georgia Atlanta 303...
1,2 USA Georgia Atlanta 30331,2 USA Georgia Atlanta 303...
2,3 USA Florida Melbourne 30912,3 USA Florida Melbourne 309...
3,4 USA Florida Tampa 30123,4 USA Florida Tampa 301...
4,5 India Karnataka Bangalore 560001,5 India Karnataka Bangalore 560...
5,6 India Maharashtra Mumbai 578234,6 India Maharashtra Mumbai 578...
6,7 India Karnataka Hubli 569823,7 India Karnataka Hubli 569...
7,8 India Maharashtra Mumbai 578234,8 India Maharashtra Mumbai 578...
8,9 Germany Bavaria Munich 80331,9 Germany Bavaria Munich 803...
9,10 Canada Ontario Toronto M4B...,10 Canada Ontario Toronto M4B...